<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <title><!-- Insert your title here --></title>
</head>
<body>
   <form method=POST action="/adduser">
        <label for="username">用户：</label><input type="text" name="username" id="username"/>
        <br/>
        <label for="password">密码：</label><input type="password" name="password" id="password"/>
        <br/>
        <input type="submit" value="添加"/>
    </form>
</body>
</html>
